{% extends "base.html" %}

{% load static %}




{% block content %}

    <div class="hero-wrap hero-bread" style="background-image: url({{content.banerLinkShop.url}});">
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
          <div class="col-md-9 ftco-animate text-center">
          	<p class="breadcrumbs"><span class="mr-2"><a href="{% url "main:index" %}">Вернутся на главную</a></span></p>
            <h1 class="mb-0 bread">Описание блюда</h1>
          </div>
        </div>
      </div>
    </div>

    <section class="ftco-section">
    	<div class="container">





    		<div class="row">
    			<div class="col-lg-6 mb-5 ftco-animate">
    				<a href="{% if product.image %}{{ product.image.url }}{% else %}{% static "img/no_image.png" %}{% endif %}" class="image-popup">
						<img src="{% if product.image %}{{ product.image.url }}{% else %}{% static "img/no_image.png" %}{% endif %}" class="img-fluid" 
						alt="Фото продукта"></a>
    			</div>
    			<div class="col-lg-6 product-details pl-md-5 ftco-animate">
    				<h3>{{ product.name }}</h3>
    				<div class="rating d-flex">
							<p class="text-left mr-4">
								<a href="#" class="mr-2">5.0</a>
								<a href="#"><span class="ion-ios-star-outline"></span></a>
								<a href="#"><span class="ion-ios-star-outline"></span></a>
								<a href="#"><span class="ion-ios-star-outline"></span></a>
								<a href="#"><span class="ion-ios-star-outline"></span></a>
								<a href="#"><span class="ion-ios-star-outline"></span></a>
							</p>
							<p class="text-left mr-4">
								<a href="#" class="mr-2" style="color: #000;">100 <span style="color: #bbb;">Rating</span></a>
							</p>
							<p class="text-left">
								<a href="#" class="mr-2" style="color: #000;">500 <span style="color: #bbb;">Sold</span></a>
							</p>
						</div>
    				<p class="price"><span>{{ product.price }}₽</span></p>
    				<p>{{ product.description|linebreaks }}</p>
						
						
						{% comment %} <div class="w-100"></div>
							<div class="input-group col-md-6 d-flex mb-3">
	             	<span class="input-group-btn mr-2">
	                	<button type="button" class="quantity-left-minus btn"  data-type="minus" data-field="">
	                   <i class="ion-ios-remove"></i>
	                	</button>
	            		</span>

	             	<input type="text" id="quantity" name="quantity" class="form-control input-number" value="1" min="1" max="100">
	             	
					<span class="input-group-btn ml-2">
	                	<button type="button" class="quantity-right-plus btn" data-type="plus" data-field="">
	                     <i class="ion-ios-add"></i>
	                 </button>
	             	</span>
	          	</div> {% endcomment %}



	       
          	
			   		<form id="add-to-cart-form" action="{% url "cart:cart_add" product.id %}" method="post">
						{% csrf_token %}
						<div class="">
							{{ cart_product_form }}
						</div>
							<input type="submit" class="btn btn-black py-3 px-5 castom-quantity w-100" value="Добавить в корзину">
							
					</form> 



    			</div>
    		</div>
    	</div>
    </section>





    <section class="ftco-section">
    	<div class="container">
				<div class="row justify-content-center mb-3 pb-3">
          <div class="col-md-12 heading-section text-center ftco-animate">
          	<span class="subheading">Похожие товары</span>
            <h2 class="mb-4">{{category.name}}</h2>
            <p>Далеко-далеко, за словом горы, далеко от стран Вокалия и Согласная.</p>
          </div>
        </div>   		
    	</div>


		{% comment %} Похожие товары {% endcomment %}
    	<div class="container">
			<div class="row">
				{% for c in products_similar %}
    			<div class="col-md-4 col-lg-4 ftco-animate">
    				<div class="product">

    					<img class="img-fluid" 
							src="{% if product.image %}{{ product.image.url }}{% else %}{% static "img/no_image.png" %}{% endif %}"
							alt="Фото продукта">
    						<div class="overlay"></div>
    					

    					<div class="text py-3 pb-4 px-3 text-center">
    						<h3><a href="#">{{ c.name }}</a></h3>
    						<div class="d-flex">
    							<div class="pricing">
		    						<p class="price"><span class="price-sale">{{ c.price }}₽</span></p>
		    					</div>
	    					</div>
	    					<div class="bottom-area d-flex px-3">
	    						<div class="m-auto d-flex">
	    						 {% comment %}<a href="#" class="add-to-cart d-flex justify-content-center align-items-center text-center">
	    								<span><i class="ion-ios-menu"></i></span>
	    							</a>
	    								<a href="#" class="buy-now d-flex justify-content-center align-items-center mx-1">
	    								<span><i class="ion-ios-cart"></i></span>
	    								</a>
									{% endcomment %}
									{% comment %} <form action="/" method="post">
										{{ cart_product_form }}
										{% csrf_token %}
										<button type="submit" class="btn btn-primary d-flex justify-content-center align-items-center mx-1">
											<span><i class="ion-ios-menu"></i></span>
										</button>
									</form>

									<form action="{% url "cart:cart_add" product.id %}" method="post">
										{{ cart_product_form }}
										{% csrf_token %}
										<button type="submit" class="btn btn-primary d-flex justify-content-center align-items-center mx-1">
											<span><i class="ion-ios-cart"></i></span>
										</button>
									</form>
									
									<form action="/" method="post">
										{{ cart_product_form }}
										{% csrf_token %}
										<button type="submit" class="btn btn-primary d-flex justify-content-center align-items-center mx-1">
											<span><i class="ion-ios-heart"></i></span>
										</button>
									</form> {% endcomment %}
	    							{% comment %} <a href="#" class="heart d-flex justify-content-center align-items-center ">
	    								<span><i class="ion-ios-heart"></i></span>
	    							</a> {% endcomment %}
    							</div>
    						</div>
    					</div>
    				</div>
    			</div>
			{% endfor %}
    		</div>
    	</div>



    </section>

		<section class="ftco-section ftco-no-pt ftco-no-pb py-5 bg-light">
      <div class="container py-4">
        <div class="row d-flex justify-content-center py-5">
          <div class="col-md-6">
          	<h2 style="font-size: 22px;" class="mb-0">Подписывайтесь на нашу новостную рассылку</h2>
          	<span>Получайте по электронной почте обновления о наших последних магазинах и специальных предложениях</span>
          </div>
          <div class="col-md-6 d-flex align-items-center">
            <form action="#" class="subscribe-form">
              <div class="form-group d-flex">
                <input type="text" class="form-control" placeholder="Введите адрес электронной почты">
                <input type="submit" value="Подписаться" class="submit px-3">
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>
 
	{% endblock content %}


